body{
    background: url(resturant.jpg);
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formCard{
    background-color: rgb(221, 124, 124);
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 2px 4px 8px;
}
.logo{
    background-color: rgba(0, 0, 0, 0.5);
    height: 10vh;
    position: relative;
    top: 50%;
}
.logoImage{
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 5%;
}
.logoImage>img{
    height: 100%;
}
.logoImage>span>h1{
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(221, 124, 124) ;
    font-weight: 900;
}
.introLogoDiv{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    height: 25%;
}
.introTextDiv{
    display: flex;
    justify-content: space-around;
    margin: 10%;
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formSectionDiv{
    display: block;
    padding: 10%;
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 4px 8px;
    border-radius: 20px;
    background-color: rgb(202, 87, 87);
}
.firstFormSection{
    display: flex;
    gap: 10%;
}
.secondFormSection{
    display: flex;
    gap: 10%;
    
}
.thirdFormSection{
    display: flex;
    gap: 10%;
}
.submitBtn>button{
    width: 25%; 
}
.submitBtn>button:hover{
   box-shadow: 2px 4px 8px;
   color: black;
}