body{
    background: url(resturant.jpg);
}
.formDiv{
    display: flex;
    justify-content: right;
    
}
.formCard{
    background-color: rgb(221, 124, 124);
    width: 50%;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 2px 4px 8px;
}
